body{
    margin: 0 ;
    font-family: Courier New;
  }
  
  h1, p{
    margin: 1em auto;
    text-align: center;
  }
  
  
  .color1{
    background-color: #FFF6BD;
    margin-top: 0;
  }
  
  .color2{
    background-color:#CEEDC7;
  }
  
  .space1{
    width: 60%;
    max-width:500px;
    padding: 10px;
    margin: 0 auto 50px auto;
    background-color: #FFF6BD;
  }
  .space2{
    width: 60%;
    max-width:500px;
    padding: 10px;
    margin: 0 auto 0 auto;
    background-color: #CEEDC7;
  }
  
  .container1{
    width: 60%;
    max-width:500px;
    padding: 10px;
    margin: 0 auto 0 auto;
    background-color: #CEEDC7;
    border-radius: 30px 30px 0 0;
  }
  .container2{
    width: 60%;
    max-width:500px;
    padding: 10px;
    margin: 0 auto 50px auto;
    background-color: #FFF6BD;
    border-radius: 30px 30px 30px 30px;
  }
  
  img{
    width: 60px;
    display: block;
    margin: -15px auto 1em auto;
  }
  
  form{
    width: 90%;
    max-width: 400px;
    margin: 2em auto;
  }
  
  label{
    display: block;
    margin: 0.5rem auto;
    font-size: 15px;
  }
  .strong{
    font-weight: 600;
  }
  
  input, textarea, select{
    margin: 10px 0 20px 0;
    width:100%;
    min-height: 2em;
    border: 0px;
    padding: 7px;
    background-color: white;
    border-radius: 5px
  }
  
  input[type="radio"]{
    min-height: 0;
  }
  
  input[type="checkbox"]{
    min-height: 0;
  }
  
  input[type="submit"]{
    display: block;
    width: 50%;
    margin: 2em auto 3em auto;
    background-color: #FFD4B2;
    border: 2px solid white; 
    border-radius: 5px;
    font-family: Courier New;
    font-weight: 600;
  }
  
  .inline{
    width: unset;
    margin: 0 0.7em 0 0;
    vertical-align: middle;
  }
  
  .question{
    margin: 2em 0 0 0;
    font-weight: 600;
  }